.App {
  position: relative;
  color: #000;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: transparent;
  margin: 2em;
  padding: 0 1em;
  min-height: 37em;
  min-width: 32em;
}

.App > .inputWrapper {
  position: relative;
  margin-bottom: 1em;
}

.App > .inputWrapper > .edit {
  display: inline-block;
  padding: .4em .8em;
  border-radius: 3px;
  background-color: #eee;
  opacity: .7;
}

.App > .inputWrapper > .edit > .iconfont{ 
  font-size: 20px; 
}

.App > .todoList { 
  width: 488px;
  height: 400px;  
  opacity: .7;
}

.App > .todoList > .FreeScrollBar {
  border-left: 2px solid #eee !important;
  border-top: 2px solid #eee;
}

.App > .todoList  li {
  width: 475px;
}

.App > .logOut {
  position: absolute;
  top: .7em;
  right: 1em;
  padding: .4em .8em;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  transition: all .3s;
  opacity: .7;
}

.App > .logOut:hover {
  border: 1px solid #d0d0d0;
  background-color: #eee;
  opacity: .7;
}

.App > .bigTitle {
  position: relative;
  left: 50%;
  width: 14em;
  margin: 1em;
  margin-left: -7em;
  text-align: center;
  font-size: 18px;
  opacity: .7;
  display: inline-block;
  padding: .5em 1em;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #eee;
  transition: all .3s;
}

.App > .bigTitle > span {
  color: rgb(38, 163, 130);
}

.App > .logOut > span {
  font-size: 15px;
  opacity: .7;
  cursor: pointer;
}

.App > .unfold {
  position: absolute;
  left: 50%;
  bottom: 2%;
  margin-left: -13px;  
  opacity: .7;
}

.App > .unfold > .iconfont {
  font-size: 26px;
  font-weight: 700;
  color: rgb(38, 163, 130);
}