body {
	background-image: url('https://ooo.0o0.ooo/2017/05/31/592ed12e2780f.jpg');
	background-repeat: no-repeat;
	background-size: cover;	
}

#root {
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

a{
	text-decoration: none;
}