.Prompt {
	position: absolute;
	top: 104%;
    left: 15%;
    font-size: 14px;
    color: #f06d6a;  
    outline: none;
    border: none;
    background-color: transparent;
    cursor: default;
    z-index: 1;
    display: inline;
    opacity: .8;
    transition: all .3s;
}