.TodoItem {
	padding: .5em;
	display: flex;
	align-items: center;
	border-radius: 3px;
	border-bottom: 1px solid #ddd;
}

.TodoItem:hover {
	background: #eee;
	box-shadow: 0px 2px 2px 0 rgba(1, 1, 1, .2);
}

.TodoItem > .check {
	position: absolute;
	left: 5%;
	cursor: pointer;
	opacity: 0;
	z-index: 1;
}

.TodoItem .attachment,
.TodoItem .success {
	position: relative;
	width: 412px;
}

.TodoItem  .attachment .icon-attachment,
.TodoItem  .success .icon-success {
	position: absolute;
	top: -6px;
	padding: .4em .8em;
	border: 1px solid #eee;
	border-radius: 3px;
	background-color: #eee;
	cursor: pointer;
	transition: all .3s;
}

.TodoItem  .attachment .icon-attachment:hover,
.TodoItem  .success .icon-success:hover{
	border: 1px solid #a0a0a0;
	background-color: #fff;
}

.TodoItem  .success .icon-success {
	color: #ea6f5a;
}

.TodoItem .title{
	margin-left: 50px;
	font-size: 16px;
	padding: 0 .5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
}

.TodoItem  .title:hover {
	white-space: normal;
}

.TodoItem  .success .title {
	text-decoration: line-through;
}

.TodoItem > .delete {
	font-size: 13px;
	padding: .5em 1em;
	border: 1px solid #eee;
	border-radius: 3px;
	background-color: #eee;
	outline: none;
	cursor: pointer;
	transition: all .3s;
}

.TodoItem > .delete:hover {
	border: 1px solid #a0a0a0;
	background-color: #fff;
}

