.UserDialog-Wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -169px;
	margin-left: -175px;

	display: flex;
	justify-content: center;
	align-items: center;
	
	background: hsla(0, 0%, 0%, .4);
}

.UserDialog {
	width: 350px;
	font-size: 15px;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 4px;
	box-shadow: 0 0 1em hsla(0,0%,0%,0.35);
}

.UserDialog > .SignUpOrSignIn > nav {
	display: flex;
	padding: 1em;
	margin-left: -2em;
	margin-bottom: 1em;
}

.UserDialog > .SignUpOrSignIn > nav > label {
	flex: 1;
	margin-left: 2em;
	font-size: 17px;
	cursor: pointer;
	z-index: 1;
}

.UserDialog > .SignUpOrSignIn > nav > label:first-child {
	transform: translateX(100px);
	z-index: 0;
}



.UserDialog > .SignUpOrSignIn > nav > label > input {
	display: none;
}

.UserDialog > .SignUpOrSignIn > nav > label > span:hover {
	border-bottom: 1px solid #333;
}

.UserDialog > .forgotPassword > p {
	margin: 1em;
	text-align: center;
	font-size: 17px;
}

.UserDialog .panes {
	padding: 0 1em 1em;
	font-size: small;
}

.UserDialog .panes > form > div > input {
	width: 100%;
	padding: .3em .6em;
	background-color: #fff !important;
	border: 1px solid #fff;
	border-bottom: 1px solid #a0a0a0;
	border-radius: 3px;
	outline: none;
}

.UserDialog .panes > form > .row {
	position: relative;
	padding: .5em 0;
	margin-bottom: 3em;
}

.UserDialog .panes > form > .row > span {
	position: absolute;
	top: 35px;
	left: 10px;
	width: 100%;
	font-size: 12px;
	color: #909090;
	display: none;
	transition: all .3s;
}

.UserDialog .panes > form > .row > span.active2{
	display: block;
}

.UserDialog .panes > form > .row > div {
	position: absolute;
	font-size: 13px;
	color: #909090;
	top: 10px;
	left: 5px;
	transition: all .3s;
	z-index: -1;
}

.UserDialog .panes > form > .row > div.active1 {
	top: -17px;
	font-size: 17px;
	z-index: 0;
	color: #f06d6a;
}

.UserDialog .panes > form > .row.actions {
	top: .5em;
	left: 50%;
	width: 200px;
	margin-left: -100px;
}



.UserDialog .panes > form > .row.actions > a {
	position: absolute;
	top: -2.2em;
	right: -4em;
	font-size: 14px;
	color: #66ccff;
}


.UserDialog .panes > form > .row.actions > button {
	font-size: 17px;
	width: 100%;
	padding: .5em 1em;
	border: 1px solid #ddd;
	border-radius: 3px;
	background-color: #ddd;
	outline: none;
	cursor: pointer;
	transition: all .3s;
}

.UserDialog  .panes > form > .row.actions > button:hover {
	border: 1px solid #a0a0a0;
	background-color: #fff;
}

