.UserDialog-Wrapper{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.UserDialog{
	min-width: 20em;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 4px;
}