.UserDialog-Wrapper{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: .7;
}

.UserDialog{
	font-size: 15px;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 4px;
	box-shadow: 0 0 1em hsla(0,0%,0%,0.35);
}

.UserDialog > nav{
	display: flex;
	padding: 1em;
	margin-left: -2em;
}

.UserDialog > nav > label{
	flex: 1;
	margin-left: 2em;
	cursor: pointer;
}

.UserDialog > .panes{
	padding: 0 1em 1em;
}

.UserDialog > .panes > form > div {
	margin-top: 5px;
	display: flex;
}

.UserDialog > .panes > form > div > label {
	flex: 1;
}

.UserDialog > .panes > form > div > input{
	padding: .3em .6em;
	background-color: #fff !important;
	border: 1px solid #a0a0a0;
	border-radius: 3px;
	outline: none;
	flex: 3;
}

.UserDialog  form > .row{
	display: flex;
	padding: .3em 0;
}

.UserDialog  form > .row > label:first-child{
	width: 4em;
}

.UserDialog  form > .row.actions{
	transform: translateX(50%);
	margin-left: -40px;
}

.UserDialog  form > .row.actions > button {
	padding: .5em 1em;
	border: 1px solid #eee;
	border-radius: 3px;
	background-color: #eee;
	outline: none;
	cursor: pointer;
	transition: all .3s;
}

.UserDialog  form > .row.actions > button:hover{
	border: 1px solid #a0a0a0;
	background-color: #fff;
}

